
#loadingScreen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
#loadingScreen > div {
    display: flex;
    justify-content: center;
}
h1, h2 {
    text-align: center;
    margin: 0px;
    transform: rotate(-8deg);
    text-transform: uppercase;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    color: #686868;
}
h1:before, h2:before {
    content: attr(data-text);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding-right: 5%;
    overflow: hidden;
}

h1:before {
    color: #E4D3AD;
    animation: animate 5s linear 1;
    text-shadow: 0.5vw 0.3vw 0px rgba(116, 70, 12, 1);
}
h2:before {
    color: #007323;
    animation: animate2 5s linear 1;
}
h1 {
    font-size: 14vw;
    text-shadow: 5px 5px 10px rgba(231, 205, 167, 0.384);
}
h2 {
    font-size: 12vw;
    margin: -10vw -29vw 0px 0px;
}

/* Animations */
@keyframes animate {
    0% {
        width: 0%;
    }
    20% {
        width: 10%;
    }
    50% {
        width: 50%;
    }
    80% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}
@keyframes animate2 {
    0% {
        width: 0%;
    }
    50% {
        width: 0%;
    }
    80% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes animate {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes animate2 {
    0% {
        width: 0%;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}