section {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color:rgb(247, 245, 238);
}
button {
    background-color: unset;
    color: white;
}
h3 {
    font-size: clamp(1rem, 1.8rem, 2.3rem);
    margin: 3vh 0px;
    text-align: center;
    line-height: 1em;
}

#ctn_video {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin: 3vh auto;
}
.video_musician {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    animation: fadeIn 0.4s cubic-bezier(0.55, 0, 1, 0.45) 0s 1 normal forwards;
}
#video_background {
    mask-image: radial-gradient(circle at center, rgba(0,0,0,1),rgba(0,0,0,0));
    -webkit-mask-image: radial-gradient(circle at center, rgba(0,0,0,1),rgba(6,6,6,0));
}
.screen_light {
    box-shadow: 0px 0px 114px 50px rgba(151, 184, 194, 0.35);
}

#ctn_btn, #ctn_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#ctn_btn button {
    border: none;
    padding: 2.5px;
    cursor: pointer;
    font-family: "VT323", monospace;
} #ctn_btn button:hover {
    color: black;
    background-color: white;
} #ctn_btn > div {
    width: 100%;
    align-items: center;
} #ctn_btn button {
    font-size: clamp(0.8rem, 1.3rem, 1.8rem);
}

.unselected {
    background-color: transparent;
    color: white;

} .selected {
    color: black;
    background-color: white;
}
.actAsButton {
    cursor: pointer;
}
.actAsButton > img {
    animation: pulse 0.2s ease-out 0s 1 normal both;
}
.beatSelector {
    width: 80%;
}

/*Animations*/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

/*Screen adaptability*/
@media only screen and (max-width: 1007px) {
    #pageContainer {
        padding: 0px 10px;
    }
    .contentSize, .video_musician {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    #ctn_btn img {
        width: 100%;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1007px) {
    #ctn_btn img {
        width: 80%;
    }
}
@media only screen and (min-width: 1008px) {
    #pageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #ctn_video, .video_musician {
        height: 60vh;
    }
    #ctn_btn {
        width: calc(60vh * 1.77); /*the aspect ratio of the images is 16:9, divide the height by aspect ratio to obtain width **/
    }
    #ctn_btn img {
        max-height: 70%;
    }
}
