:root {
  --vt-c-white: #ffffff;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {    
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.row {
  display: flex;
  flex-direction: row;
}
.spaceEvenly {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}